.welcome {
    background: url('../images/background.png') no-repeat;
    background-position: center;
    background-size: cover;
    height: 269px;
    display: flex;
    align-items: center;
    h2 {
        font-weight: 700;
        font-size: 48px;
        margin: 0;
        margin-top: 20px;
    }
}