footer.footer
    .container
        .footer__top
            .logo 
                p Опалиха 
                    span Парк
            .social 
                a(href="#")
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 12C0 5.4 5.28134 0 11.9666 0C18.6518 0 24 5.4 24 12C24 18.6 18.585 24 11.9666 24C5.34819 24 0 18.6 0 12Z"/>
                        <path d="M11.5655 17.2667H12.5014C12.5014 17.2667 12.7689 17.2667 12.9026 17.0667C12.9694 16.8667 12.9694 16.6667 12.9694 16.6667C12.9694 16.6667 12.9694 15.4 13.5711 15.2C14.1728 15 14.9081 16.4667 15.7104 16.9333C16.312 17.3333 16.78 17.2 16.78 17.2H18.9193C18.9193 17.2 19.9889 17.1333 19.5209 16.2667C19.5209 16.2 19.2535 15.6 17.9833 14.4667C16.6463 13.2 16.8468 13.4 18.4513 11.2667C19.3872 10 19.7884 9.13333 19.7215 8.86667C19.6546 8.6 18.8524 8.66667 18.8524 8.66667H16.4457C16.4457 8.66667 16.2452 8.66667 16.1783 8.73333C16.1115 8.8 15.9778 9 15.9778 9C15.9778 9 15.5767 9.93333 15.1087 10.8C14.039 12.6 13.6379 12.7333 13.5042 12.5333C13.1031 12.2667 13.2368 11.4667 13.2368 10.9333C13.2368 9.2 13.5042 8.46667 12.7689 8.26667C12.5014 8.2 12.3009 8.2 11.6324 8.2C10.7633 8.2 10.0948 8.2 9.69365 8.4C9.29253 8.6 9.09197 8.86667 9.22568 8.86667C9.42624 8.86667 9.69365 8.93333 9.8942 9.26667C10.0948 9.53333 10.0948 10.3333 10.0948 10.3333C10.0948 10.3333 10.2953 12.3333 9.82735 12.6667C9.55994 12.8667 9.15883 12.4667 8.22289 10.8667C7.75493 10 7.35381 9.13333 7.35381 9.13333C7.35381 9.13333 7.28696 8.93333 7.15326 8.86667C7.0864 8.8 6.75214 8.8 6.75214 8.8H4.34546C4.34546 8.8 3.94434 8.8 3.87749 9C3.81064 9.06667 3.87749 9.4 3.87749 9.4C3.87749 9.4 5.61565 13.5333 7.62122 15.6667C9.42624 17.4 11.5655 17.2667 11.5655 17.2667Z" fill="white"/>
                    </svg>
                a(href="#")
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24Z"/>
                        <path d="M9.80006 17.4667C9.40006 17.4667 9.46672 17.3333 9.33339 16.9333L8.26672 13.2L17.0001 8" fill="#C8DAEA"/>
                        <path d="M9.80005 17.4667C10.0667 17.4667 10.2 17.3333 10.4 17.2L12 15.6L10 14.3333" fill="#A9C9DD"/>
                        <path d="M10.0001 14.4667L14.8667 18C15.4001 18.2667 15.8001 18.1333 15.9334 17.5333L17.8667 8.2C18.0667 7.4 17.6001 7.06667 17.0667 7.26667L5.46672 11.7333C4.66672 12.0667 4.73339 12.4667 5.33339 12.6667L8.26672 13.6L15.1334 9.33333C15.4667 9.13333 15.7334 9.26667 15.5334 9.46667" fill="url(#paint0_linear_2_253)"/>
                        <defs>
                        <linearGradient id="paint0_linear_2_253" x1="12.8553" y1="12.2907" x2="14.7243" y2="16.5603" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#EFF7FC"/>
                        <stop offset="1" stop-color="white"/>
                        </linearGradient>
                        </defs>
                    </svg>
        .footer__bottom 
            a(href="#") Политика конфиденциальности
            p Опубликованная на сайте информация не является публичной офертой.
            p © Жилой Комплекс «Опалиха Парк» 2022
