extends base/pug/base

append variables
    - var title = 'Главная страница сайта'
    - var pageClass = 'homepage'
    - var menuHref = '/'

block welcome-news 
    div(style="background: linear-gradient(90deg, #FFFFFF 0%, #EDF5F8 53.65%, #FFFFFF 100%);").welcome
        .container
            .breadcrumbs
                a(href="/") Главная 
                .breadcrumbs__divider
                    <svg width="30" height="22" viewBox="0 0 30 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_1_15)">
                        <path d="M18.1919 1.53286C18.3648 1.36073 18.4542 1.12925 18.4542 0.897761C18.4542 0.666274 18.3648 0.440723 18.1919 0.262656C17.8403 -0.0875424 17.274 -0.0875424 16.9223 0.262656L7.54023 9.61116L3.06974 9.61116L11.1762 1.53287C11.3491 1.36073 11.4385 1.12925 11.4385 0.897762C11.4385 0.666275 11.3491 0.440723 11.1762 0.262657C10.8246 -0.0875418 10.2583 -0.0875418 9.90661 0.262657L0.262269 9.86639C0.178819 9.94949 0.11325 10.0504 0.0655661 10.1572C-0.0238447 10.3768 -0.0238447 10.6202 0.0655661 10.8398C0.11325 10.9526 0.178819 11.0476 0.262269 11.1307L9.90662 20.7463C10.2583 21.0965 10.8246 21.0965 11.1762 20.7463C11.5279 20.3961 11.5279 19.8322 11.1762 19.482L3.06378 11.4037L7.53427 11.4037L16.9223 20.7463C17.274 21.0965 17.8403 21.0965 18.1919 20.7463C18.5436 20.3961 18.5436 19.8322 18.1919 19.482L10.0795 11.4037L14.5559 11.4037L23.938 20.7463C24.2897 21.0965 24.856 21.0965 25.2076 20.7463C25.5593 20.3961 25.5593 19.8322 25.2076 19.482L17.0952 11.4037L29.0999 11.4037C29.5947 11.4037 30 11.006 30 10.5074C30 10.0148 29.6006 9.61116 29.0999 9.61116L17.1011 9.61116L25.2076 1.5388C25.3805 1.36667 25.4699 1.13518 25.4699 0.903695C25.4699 0.672209 25.3805 0.446658 25.2076 0.268591C24.8559 -0.0816055 24.2897 -0.0816054 23.938 0.268591L14.5559 9.61116L10.0795 9.61116L18.1919 1.53286Z"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_1_15">
                        <rect width="30" height="21" fill="white" transform="translate(30 21.0072) rotate(180)"/>
                        </clipPath>
                        </defs>
                    </svg>
                a(href="/") Ход реализации
                .breadcrumbs__divider
                    <svg width="30" height="22" viewBox="0 0 30 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_1_15)">
                        <path d="M18.1919 1.53286C18.3648 1.36073 18.4542 1.12925 18.4542 0.897761C18.4542 0.666274 18.3648 0.440723 18.1919 0.262656C17.8403 -0.0875424 17.274 -0.0875424 16.9223 0.262656L7.54023 9.61116L3.06974 9.61116L11.1762 1.53287C11.3491 1.36073 11.4385 1.12925 11.4385 0.897762C11.4385 0.666275 11.3491 0.440723 11.1762 0.262657C10.8246 -0.0875418 10.2583 -0.0875418 9.90661 0.262657L0.262269 9.86639C0.178819 9.94949 0.11325 10.0504 0.0655661 10.1572C-0.0238447 10.3768 -0.0238447 10.6202 0.0655661 10.8398C0.11325 10.9526 0.178819 11.0476 0.262269 11.1307L9.90662 20.7463C10.2583 21.0965 10.8246 21.0965 11.1762 20.7463C11.5279 20.3961 11.5279 19.8322 11.1762 19.482L3.06378 11.4037L7.53427 11.4037L16.9223 20.7463C17.274 21.0965 17.8403 21.0965 18.1919 20.7463C18.5436 20.3961 18.5436 19.8322 18.1919 19.482L10.0795 11.4037L14.5559 11.4037L23.938 20.7463C24.2897 21.0965 24.856 21.0965 25.2076 20.7463C25.5593 20.3961 25.5593 19.8322 25.2076 19.482L17.0952 11.4037L29.0999 11.4037C29.5947 11.4037 30 11.006 30 10.5074C30 10.0148 29.6006 9.61116 29.0999 9.61116L17.1011 9.61116L25.2076 1.5388C25.3805 1.36667 25.4699 1.13518 25.4699 0.903695C25.4699 0.672209 25.3805 0.446658 25.2076 0.268591C24.8559 -0.0816055 24.2897 -0.0816054 23.938 0.268591L14.5559 9.61116L10.0795 9.61116L18.1919 1.53286Z"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_1_15">
                        <rect width="30" height="21" fill="white" transform="translate(30 21.0072) rotate(180)"/>
                        </clipPath>
                        </defs>
                    </svg>
                p Ход строительных работ в ЖК «Опалиха Парк»
            h2 Ход строительных работ в ЖК «Опалиха Парк» <span>28 июня 2022</span>
block details 
    article.details
        .container
            .details__content 
                .details__text-side
                    .details__slider.details__slider-js
                        .swiper-wrapper.details__list
                            .swiper-slide.details__item
                                img(src='./images/1234.jpg' alt="Фото")
                            .swiper-slide.details__item
                                img(src='./images/1234.jpg' alt="Фото")
                            .swiper-slide.details__item
                                img(src='./images/1234.jpg' alt="Фото")
                        .details__button.details__button-prev.details__button-prev-js
                        .details__button.details__button-next.details__button-next-js
                    .detailt__text 
                        | Более 100 дольщиков получили ключи26 декабря 2018 года в доме правительства Московской области состоялось торжественное вручение ключей участникам долевого строительства корпуса 6.2 жилого комплекса «Новая Алексеевская роща», который расположен в городском округе Балашиха на улице Лукино.<br><br>
                        | Строительство жилого дома 6.2, расположенного на улице Лукино, в городском округе Балашиха началось в 2017 году. Девятиэтажный двухсекционный жилой дом на 108 квартир общей площадью 5705,3 кв. м. был введен в эксплуатацию 14 декабря 2018 года.<br><br>
                        | Напомним, что земельный участок под строительство двух жилых домов по улице Лукино – корпусов 6.1 и 6.2, был получен ГК «Гранель» в качестве компенсационных мер за достройку домов ЖК «Квартал Лукино», строительство которых началось в 2005 году. Изначально в рамках проекта планировалось возвести восемь домов с детским садом, школой и ТРЦ. Во время кризиса, в 2009 году, строительство было остановлено, а в 2011 году застройщик объекта «МЭННИ» был признан банкротом по решению суда. В конце 2010 года в проект вошел новый застройщик – компания «Севморшельфнефтегаз», который взялся строить 7 и 8 корпуса. В 2011 году все строительные работы на объекте были прекращены. В течении 5 лет люди ждали, что строительство объекта продолжится.<br><br>
                        | В мае 2016 года ГК «Гранель» по договоренности с Правительством Московской области и администрацией города Балашиха взяла на себя обязательства по достройке объекта «Квартал Лукино» в г. Балашихе, который был признан долгостроем.<br><br>
                        | После окончания строительных работ в сентябре прошлого года застройщик получил заключение о соответствии построенных корпусов всем требованиям. Но в связи с тем, что часть земельных участков вошла в природоохранную зону парка «Лосиный остров», для ввода в эксплуатацию необходимо согласование Минприроды России.<br><br>
                        | При личном участии полномочного представителя Президента РФ в Центральном Федеральном округе Гордееве Алексее Васильевиче (сейчас - заместитель председателя Правительства Российской Федерации по вопросам агропромышленного комплекса, природных ресурсов и экологии) и Министра природных ресурсов и экологии РФ Кобылкина Дмитрия Николаевича были приняты меры, которые позволили получить все необходимые согласования и ввести дома в эксплуатацию. В марте 2018 года 688 дольщиков домов №7 и 8 ЖК «Квартал Лукино» получили ключи от своих квартир.
                .details__sidebar 
                    p Последние новости
                    ul 
                        li 
                            a(href='#') Ход строительных работ в ЖК «Опалиха Парк» 
                                span 25 июня 2022
                        li 
                            a(href='#') Ход строительных работ в ЖК «Опалиха Парк» 
                                span 25 июня 2022
                        li 
                            a(href='#') Ход строительных работ в ЖК «Опалиха Парк» 
                                span 25 июня 2022
                    img(src='./images/decor_under.png' alt='Декор')